# Part A

In [61]:
# Your code here
import pandas as pd
dataframe=pd.read_csv('FW_Veg_Rem_Combined.csv')

In [62]:
dataframe.keys()

Index(['Unnamed: 0', 'Unnamed: 0.1', 'fire_name', 'fire_size',
       'fire_size_class', 'stat_cause_descr', 'latitude', 'longitude', 'state',
       'disc_clean_date', 'cont_clean_date', 'discovery_month',
       'disc_date_final', 'cont_date_final', 'putout_time', 'disc_date_pre',
       'disc_pre_year', 'disc_pre_month', 'wstation_usaf', 'dstation_m',
       'wstation_wban', 'wstation_byear', 'wstation_eyear', 'Vegetation',
       'fire_mag', 'weather_file', 'Temp_pre_30', 'Temp_pre_15', 'Temp_pre_7',
       'Temp_cont', 'Wind_pre_30', 'Wind_pre_15', 'Wind_pre_7', 'Wind_cont',
       'Hum_pre_30', 'Hum_pre_15', 'Hum_pre_7', 'Hum_cont', 'Prec_pre_30',
       'Prec_pre_15', 'Prec_pre_7', 'Prec_cont', 'remoteness'],
      dtype='object')

In [28]:
print(dataframe.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55367 entries, 0 to 55366
Data columns (total 43 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        55367 non-null  int64
 1   Unnamed: 0.1      55367 non-null  int64
 2   fire_name         25913 non-null  object
 3   fire_size         55367 non-null  float64
 4   fire_size_class   55367 non-null  object
 5   stat_cause_descr  55367 non-null  object
 6   latitude          55367 non-null  float64
 7   longitude         55367 non-null  float64
 8   state             55367 non-null  object
 9   disc_clean_date   55367 non-null  object
 10  cont_clean_date   27477 non-null  object
 11  discovery_month   55367 non-null  object
 12  disc_date_final   28708 non-null  object
 13  cont_date_final   25632 non-null  object
 14  putout_time       27477 non-null  object
 15  disc_date_pre     55367 non-null  object
 16  disc_pre_year     55367 non-null  int64
 17  disc_pre_month    55367 non-null  object
 18  wstation_usaf     55367 non-null  object
 19  dstation_m        55367 non-null  float64
 20  wstation_wban     55367 non-null  int64
 21  wstation_byear    55367 non-null  int64
 22  wstation_eyear    55367 non-null  int64
 23  Vegetation        55367 non-null  int64
 24  fire_mag          55367 non-null  float64
 25  weather_file      55367 non-null  object
 26  Temp_pre_30       55367 non-null  float64
 27  Temp_pre_15       55367 non-null  float64
 28  Temp_pre_7        55367 non-null  float64
 29  Temp_cont         55367 non-null  float64
 30  Wind_pre_30       55367 non-null  float64
 31  Wind_pre_15       55367 non-null  float64
 32  Wind_pre_7        55367 non-null  float64
 33  Wind_cont         55367 non-null  float64
 34  Hum_pre_30        55367 non-null  float64
 35  Hum_pre_15        55367 non-null  float64
 36  Hum_pre_7         55367 non-null  float64
 37  Hum_cont          55367 non-null  float64
 38  Prec_pre_30       55367 non-null  float64
 39  Prec_pre_15       55367 non-null  float64
 40  Prec_pre_7        55367 non-null  float64
 41  Prec_cont         55367 non-null  float64
 42  remoteness        55367 non-null  float64
dtypes: float64(22), int64(7), object(14)
memory usage: 18.2+ MB
None

In [29]:
dataframe.head()

,Unnamed: 0,Unnamed: 0.1,fire_name,fire_size,fire_size_class,stat_cause_descr,latitude,longitude,state,disc_clean_date,...,Wind_cont,Hum_pre_30,Hum_pre_15,Hum_pre_7,Hum_cont,Prec_pre_30,Prec_pre_15,Prec_pre_7,Prec_cont,remoteness
0,0,0,NaN,10.0,C,Missing/Undefined,18.105072,-66.753044,PR,2/11/2007,...,3.250413,78.216590,76.793750,76.381579,78.724370,0.0,0.0,0.0,0.0,0.017923
1,1,1,NaN,3.0,B,Arson,35.038330,-87.610000,TN,12/11/2006,...,2.122320,70.840000,65.858911,55.505882,81.682678,59.8,8.4,0.0,86.8,0.184355
2,2,2,NaN,60.0,C,Arson,34.947800,-88.722500,MS,2/29/2004,...,3.369050,75.531629,75.868613,76.812834,65.063800,168.8,42.2,18.1,124.5,0.194544
3,3,3,WNA 1,1.0,B,Debris Burning,39.641400,-119.308300,NV,6/6/2005,...,0.000000,44.778429,37.140811,35.353846,0.000000,10.4,7.2,0.0,0.0,0.487447
4,4,4,NaN,2.0,B,Miscellaneous,30.700600,-90.591400,LA,9/22/1999,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,0.214633

### 2. Did you discover interesting relations?

*Yes, there seems to be many relations found in the dataset, some of them are as follows:*
1. *fire_size, stat_cause_descr -> fire_size_class*

By using fire_size and stat_cause_descr we can classify the fire_size_class

2. *fire_mag, Vegetation -> putout_time*

By using fire_mag and vegetation have we can predict the putout_time. 

Of course there are more factors like the hum_per_7(humidity of the area before 7 days) and Wind_pre_7(winds of the area prior to 7 days) and temperatures. But for the sake of this research, I will be considering only the fire_mag and vegetation.

###  3. What feature/s would you like to be able to predict?
* As, I mentioned before, I will be predicting putout_time and classifying fire_size_class.

# 4. Data Cleaning

In [66]:

df=dataframe.copy()
# ["fire_name","fire_size","fire_size_class","stat_cause_descr","state","disc_clean_date","cont_clean_date","discovery_month","disc_date_final","cont_date_final","putout_time","Vegetation","fire_mag"]
col_drop= ['Unnamed: 0', 'Unnamed: 0.1','latitude', 'longitude','wstation_usaf', 'wstation_wban', 'wstation_byear', 'wstation_eyear', 'Temp_pre_30', 'Temp_pre_15', 'Temp_pre_7',
        'Temp_cont', 'Wind_pre_30', 'Wind_pre_15', 'Wind_pre_7', 'Wind_cont', 'Hum_pre_30', 'Hum_pre_15', 'Hum_pre_7', 'Hum_cont', 'Prec_pre_30','Prec_pre_15', 'Prec_pre_7', 'Prec_cont', 'remoteness']
df.drop(columns=col_drop,inplace=True, axis=1)

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55367 entries, 0 to 55366
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fire_name         25913 non-null  object
 1   fire_size         55367 non-null  float64
 2   fire_size_class   55367 non-null  object
 3   stat_cause_descr  55367 non-null  object
 4   state             55367 non-null  object
 5   disc_clean_date   55367 non-null  object
 6   cont_clean_date   27477 non-null  object
 7   discovery_month   55367 non-null  object
 8   disc_date_final   28708 non-null  object
 9   cont_date_final   25632 non-null  object
 10  putout_time       27477 non-null  object
 11  disc_date_pre     55367 non-null  object
 12  disc_pre_year     55367 non-null  int64
 13  disc_pre_month    55367 non-null  object
 14  dstation_m        55367 non-null  float64
 15  Vegetation        55367 non-null  int64
 16  fire_mag          55367 non-null  float64
 17  weather_file      55367 non-null  object
dtypes: float64(3), int64(2), object(13)
memory usage: 7.6+ MB

In [68]:
df.head()

,fire_name,fire_size,fire_size_class,stat_cause_descr,state,disc_clean_date,cont_clean_date,discovery_month,disc_date_final,cont_date_final,putout_time,disc_date_pre,disc_pre_year,disc_pre_month,dstation_m,Vegetation,fire_mag,weather_file
0,NaN,10.0,C,Missing/Undefined,PR,2/11/2007,NaN,Feb,NaN,NaN,NaN,1/12/2007,2007,Jan,58917.69716,12,1.0,785140-11603-2007.gz
1,NaN,3.0,B,Arson,TN,12/11/2006,NaN,Dec,NaN,NaN,NaN,11/11/2006,2006,Nov,32665.34327,15,0.1,723235-13896-2006.gz
2,NaN,60.0,C,Arson,MS,2/29/2004,NaN,Feb,NaN,NaN,NaN,1/30/2004,2004,Jan,105122.14950,16,1.0,723235-13896-2004.gz
3,WNA 1,1.0,B,Debris Burning,NV,6/6/2005,6/6/2005,Jun,6/6/2005 2:14,6/6/2005 18:00,0 days 00:00:00.000000000,5/7/2005,2005,May,43433.32978,0,0.1,724880-23185-2005.gz
4,NaN,2.0,B,Miscellaneous,LA,9/22/1999,NaN,Sep,NaN,NaN,NaN,8/23/1999,1999,Aug,25940.57409,12,0.1,File Not Found

# The columns we are using are: fire_size, stat_cause_descr, fire_size_class,fire_mag, Vegetation, putout_time 
# Removing null values

In [75]:
import numpy as np
df.replace('', np.nan, inplace=True)
df.dropna(inplace=True)

In [76]:
df.head()

,fire_name,fire_size,fire_size_class,stat_cause_descr,state,disc_clean_date,cont_clean_date,discovery_month,disc_date_final,cont_date_final,putout_time,disc_date_pre,disc_pre_year,disc_pre_month,dstation_m,Vegetation,fire_mag,weather_file
3,WNA 1,1.00,B,Debris Burning,NV,6/6/2005,6/6/2005,Jun,6/6/2005 2:14,6/6/2005 18:00,0 days 00:00:00.000000000,5/7/2005,2005,May,43433.32978,0,0.1,724880-23185-2005.gz
9,CRAZY,1.00,B,Miscellaneous,ND,4/19/2004,4/19/2004,Apr,4/19/2004 20:30,4/19/2004 22:30,0 days 00:00:00.000000000,3/20/2004,2004,Mar,129109.88140,15,0.1,727675-99999-2004.gz
26,STO3573155,2.00,B,Debris Burning,AR,1/19/2014,1/19/2014,Jan,1/19/2014 11:58,1/19/2014 13:02,0 days 00:00:00.000000000,12/20/2013,2013,Dec,16806.87914,15,0.1,720401-00133-2013.gz
31,AXE RONDEAU,1.20,B,Debris Burning,ND,4/7/2007,4/7/2007,Apr,4/7/2007 20:16,4/7/2007 20:30,0 days 00:00:00.000000000,3/8/2007,2007,Mar,102830.03610,15,0.1,727573-94928-2007.gz
35,FY2001-EARLY-021,30.18,C,Debris Burning,GA,10/19/2000,10/19/2000,Oct,10/19/2000 20:55,10/19/2000 20:55,0 days 00:00:00.000000000,9/19/2000,2000,Sep,53177.96665,12,1.0,722268-99999-2000.gz

* I have selected specific columns for doing operations and copied the rest of the columns in a new dataframe called df
* I have used dropna() which removes any collumns and rows with null values

## Spliting into testing and training sets

In [80]:
import numpy as np
from sklearn.model_selection import train_test_split
training_set, testing_set = train_test_split(df, test_size=0.30, random_state=90)
print(training_set.info())
print(testing_set.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12341 entries, 38608 to 15170
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fire_name         12341 non-null  object
 1   fire_size         12341 non-null  float64
 2   fire_size_class   12341 non-null  object
 3   stat_cause_descr  12341 non-null  object
 4   state             12341 non-null  object
 5   disc_clean_date   12341 non-null  object
 6   cont_clean_date   12341 non-null  object
 7   discovery_month   12341 non-null  object
 8   disc_date_final   12341 non-null  object
 9   cont_date_final   12341 non-null  object
 10  putout_time       12341 non-null  object
 11  disc_date_pre     12341 non-null  object
 12  disc_pre_year     12341 non-null  int64
 13  disc_pre_month    12341 non-null  object
 14  dstation_m        12341 non-null  float64
 15  Vegetation        12341 non-null  int64
 16  fire_mag          12341 non-null  float64
 17  weather_file      12341 non-null  object
dtypes: float64(3), int64(2), object(13)
memory usage: 1.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5289 entries, 17098 to 25384
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fire_name         5289 non-null   object
 1   fire_size         5289 non-null   float64
 2   fire_size_class   5289 non-null   object
 3   stat_cause_descr  5289 non-null   object
 4   state             5289 non-null   object
 5   disc_clean_date   5289 non-null   object
 6   cont_clean_date   5289 non-null   object
 7   discovery_month   5289 non-null   object
 8   disc_date_final   5289 non-null   object
 9   cont_date_final   5289 non-null   object
 10  putout_time       5289 non-null   object
 11  disc_date_pre     5289 non-null   object
 12  disc_pre_year     5289 non-null   int64
 13  disc_pre_month    5289 non-null   object
 14  dstation_m        5289 non-null   float64
 15  Vegetation        5289 non-null   int64
 16  fire_mag          5289 non-null   float64
 17  weather_file      5289 non-null   object
dtypes: float64(3), int64(2), object(13)
memory usage: 785.1+ KB
None

In [81]:
training_set.head()

,fire_name,fire_size,fire_size_class,stat_cause_descr,state,disc_clean_date,cont_clean_date,discovery_month,disc_date_final,cont_date_final,putout_time,disc_date_pre,disc_pre_year,disc_pre_month,dstation_m,Vegetation,fire_mag,weather_file
38608,RIDGE RD,1.0,B,Arson,TN,5/7/2010,5/7/2010,May,5/7/2010 13:38,5/7/2010 14:30,0 days 00:00:00.000000000,4/7/2010,2010,Apr,61580.66170,15,0.1,723250-03847-2010.gz
15317,1.31201E+13,3.0,B,Campfire,MS,1/16/2014,1/16/2014,Jan,1/16/2014 15:59,1/16/2014 16:25,0 days 00:00:00.000000000,12/17/2013,2013,Dec,47414.96632,12,0.1,File Not Found
40206,FISHERMAN CREEK,81.0,C,Lightning,WY,7/5/2001,11/28/2001,Jul,7/5/2001 11:30,11/28/2001 11:59,146 days 00:00:00.000000000,6/5/2001,2001,Jun,58955.37278,9,1.0,725776-99999-2001.gz
44777,IRONHORSE COMMAND,17000.0,G,Miscellaneous,FL,2/28/2011,3/20/2011,Feb,2/28/2011 9:00,3/20/2011 17:00,20 days 00:00:00.000000000,1/29/2011,2011,Jan,27600.21013,12,100.0,722057-12854-2011.gz
19109,DAVIS CREEK,5.0,B,Missing/Undefined,MO,2/25/2009,2/27/2009,Feb,2/25/2009 16:00,2/27/2009 8:00,2 days 00:00:00.000000000,1/26/2009,2009,Jan,31068.06800,14,0.1,725533-94957-2009.gz

In [82]:
testing_set.head()

,fire_name,fire_size,fire_size_class,stat_cause_descr,state,disc_clean_date,cont_clean_date,discovery_month,disc_date_final,cont_date_final,putout_time,disc_date_pre,disc_pre_year,disc_pre_month,dstation_m,Vegetation,fire_mag,weather_file
17098,MARION MANN ROAD (12),2.50,B,Debris Burning,FL,3/16/2013,3/16/2013,Mar,3/16/2013 13:01,3/16/2013 13:36,0 days 00:00:00.000000000,2/14/2013,2013,Feb,47479.88476,12,0.1,747560-12816-2013.gz
53425,PIT,11496.00,G,Lightning,CA,6/22/2008,10/6/2008,Jun,6/22/2008 10:00,10/6/2008 13:30,106,5/23/2008,2008,May,52330.91000,0,100.0,724973-93203-2008.gz
31724,FY2001-BARTOW-048,2.17,B,Debris Burning,GA,2/4/2001,2/4/2001,Feb,2/4/2001 13:34,2/4/2001 13:34,0 days 00:00:00.000000000,1/5/2001,2001,Jan,30660.07723,16,0.1,723200-99999-2001.gz
29283,FY2001-FORSYTH-003,1.77,B,Debris Burning,GA,1/6/2001,1/6/2001,Jan,1/6/2001 13:45,1/6/2001 13:45,0 days 00:00:00.000000000,12/7/2000,2000,Dec,18177.36242,16,0.1,File Not Found
15986,PINE GATE,12.00,C,Powerline,WA,9/26/2014,10/10/2014,Sep,9/26/2014 13:15,10/10/2014 16:03,14 days 00:00:00.000000000,8/27/2014,2014,Aug,15301.62686,15,1.0,999999-04126-2014.gz